/*
    Add all variables overrides here
*/

:root {
    --polka-bg-image: radial-gradient(rgb(200, 200, 200) 12%, transparent 12%),
        radial-gradient(rgb(200, 200, 200) 12%, transparent 12%);
    --polka-bg-position: 0px 0px, 8px 8px;
    --polka-bg-size: 16px 16px;
    --polka-bg-color: rgb(255, 255, 255);
}

.dark {
    --polka-bg-image: radial-gradient(rgb(94, 94, 94) 12%, transparent 12%),
        radial-gradient(rgb(94, 94, 94) 12%, transparent 12%);
    --polka-bg-position: 0px 0px, 8px 8px;
    --polka-bg-size: 16px 16px;
    --polka-bg-color: rgb(18, 18, 18);
}
